* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fdf6ea, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;
  height: auto;
}

.login-container h2 {
  margin-bottom: 0.5rem;
}

.login-container p {
  color: #555;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  margin: 0.5rem 0 0.2rem;
  font-weight: bold;
}

.login-form input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  font-size: 14px;
}
.login-form input:focus {
    border-color: #ff9800;
}
.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-right: 2.5rem;
}

.password-field .togglePassword {
  position: absolute;
  right: 13px;
  cursor: pointer;
  color: #888;
  font-size: 20px;
  top: 0.6rem;
}

.error-message {
  font-size: 13px;
  color: red;
  margin-bottom: 0.5rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 1rem;
}
.remember{
    margin-top: -0.5rem;
}

.login-btn {
  background: linear-gradient(135deg, #ff9800, #f44336);
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background: linear-gradient(135deg, #f44336, #ff9800);
  transform: scale(1.02);
}

.login-footer {
  margin-top: 1rem;
  font-size: 14px;
}
.login-footer a {
  color: #f44336;
  font-weight: bold;
  text-decoration: none;
}
.login-footer a:hover {
  text-decoration: underline;
}
